<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Văn Lang University - Home</title>
    <link rel="icon" href="~/Areas/Student/assets/img/Fevicon.png" type="image/png">

    <link rel="stylesheet" href="~/Areas/Student/assets/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/Areas/Student/assets/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/Areas/Student/assets/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Areas/Student/assets/vendors/owl-carousel/owl.carousel.min.css">

    <link rel="stylesheet" href="~/Areas/Student/assets/css/style.css">
</head>
<body>

  <!--================ Header Menu Area start =================-->
  <header class="header_area" style="width: 100%; height: 80px; background-color: #9ACD32; opacity:0.8">
    <div class="main_menu" style="margin-left: 200px; float: left">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <a class="navbar-brand logo_h" href="#"><img src="~/Areas/Student/assets/img/logoVLU.png" style="height: 80px; weight: 100px" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-end">
              <li class="nav-item active"><a class="nav-link" href="#">Trang chủ</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Đào tạo</a>
              <li class="nav-item"><a class="nav-link" href="#">Giới thiệu</a></li>
            </ul>

            <div class="nav-right text-center text-lg-right py-4 py-lg-0">
                <a class="button button-outline button-small" href="@Url.Action("Login", "../Account")">Login</a>
            </div>
          </div> 
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->


  <!--================ Banner Section start =================-->
  <section class="hero-banner text-center">
    <div class="container">
      <p class="text-uppercase">TRƯỜNG ĐẠI HỌC VĂN LANG</p>
      <h1>ĐĂNG KÝ KẾ HOẠCH HỌC TẬP</h1>
      <p class="hero-subtitle">ĐẠO ĐỨC - Ý CHÍ - SÁNG TẠO</p>
      <a class="button button-outline" href="@Url.Action("Login", "../Account")">Đăng nhập</a>
    </div>
  </section>
  <!--================ Banner Section end =================-->


  <script src="~/Areas/Student/assets/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="~/Areas/Student/assets/vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="~/Areas/Student/assets/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="~/Areas/Student/assets/js/jquery.ajaxchimp.min.js"></script>
  <script src="~/Areas/Student/assets/js/mail-script.js"></script>
  <script src="~/Areas/Student/assets/js/main.js"></script>
</body>
</html>