@{
    ViewBag.Title = "Trang chủ ";
}

<!--================ Header Menu Area start =================-->

<!--================Header Menu Area =================-->
<!--================ Banner Section start =================-->
<section class="hero-banner text-center">
    <div class="container">
        <h3 class="text-uppercase">Trường Đại Học Văn Lang</h3>
        <h1>Đăng ký kế hoạch học tập</h1>
        <h2 class="hero-subtitle">Đạo đức - Ý chí - Sáng tạo</h2>
        <a class="button button-outline" href="#">Đăng ký kế hoạch ngay</a>
    </div>
</section>
<!--================ Banner Section end =================-->
<!--================ Domain Search section start =================-->
<section class="bg-gray domain-search">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-3 col-lg-2 text-center text-md-left mb-3 mb-md-0">
                <h3>Search Your Domain Now!</h3>
            </div>
            <div class="col-md-9 col-lg-10 pl-2 pl-xl-5">
                <form class="form-inline flex-nowrap form-domainSearch">
                    <div class="form-group">
                        <label for="staticDomainSearch" class="sr-only">Domain Search</label>
                        <input type="text" class="form-control" id="staticDomainSearch" placeholder="Enter Your Domain name">
                    </div>
                    <button type="submit" class="button rounded-0">Search</button>
                </form>
            </div>
        </div>
    </div>
</section>