@{
    ViewBag.Title = "Trang chủ ";
}

<!--================ Banner Section start =================-->
<section class="hero-banner text-center">
    <div class="container">
        <h3 class="text-uppercase">Trường Đại Học Văn Lang</h3>
        <h1>Đăng ký kế hoạch học tập</h1>
        <h2 class="hero-subtitle">Đạo đức - Ý chí - Sáng tạo</h2>
        <a class="button button-outline" href="~/SinhVien/DangKyKHHT/DangkyKHHT">Đăng ký kế hoạch ngay</a>
    </div>
</section>
<!--================ Banner Section end =================-->
<!--================  Dedicated server section start =================-->
<section class="section-margin">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <h2 class="mb-4">Triết lý giáo dục <br class="d-none d-xl-block">- Sứ mệnh -<br class="d-none d-xl-block">Giá trị cốt lõi</h2>
                <p>
                    <h3> Sứ mệnh</h3>

                    Đào tạo những con người mang lại tác động tích cực truyền cảm hứng cho xã hội
                <p> <p>
                    <h3>Giá trị cốt lõi</h3>

                    Đạo đức - Ý chí - Sáng tạo
                <p><p>
                    <h3>Triết lý giáo dục</h3>
                <p><p>
                    Thông qua học tập trải nghiệm, đào tạo con người toàn diện, có khả năng học tập suốt đời, có đạo đức, có sức ảnh hưởng và mang lại thay đổi tích cực cho cộng đồng
                </p>
            </div>
            <div class="col-lg-7">
                <div class="text-center">
                    <img class="img-fluid" src="~/Content/img/banner/home4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--================  Dedicated server section end =================-->